{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Site Django</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}" />
  </head>
  <body>
    <div class="App">
      <div class="hero">
        <h1>AutoLead</h1>
        <img
          src="https://source.unsplash.com/200x300/"
          alt="Hero Image"
          draggable="false"
        />
        <p>
          Pesquise locais próximos a você e exporte os resultados para um
          arquivo.
        </p>
      </div>
      <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <label>
          Cidade:
          <input type="text" name="city" required />
        </label>
        <br />
        <label>
          Raio (metros):
          <input type="number" name="radius" required />
        </label>
        <br />
        <label>
          Segmento:
          <input type="text" name="segment" required />
        </label>
        <br />
        <label>
          Nome do Arquivo:
          <input type="text" name="file_name" required />
        </label>
        <br />
        <button type="submit">Pesquisar</button>
      </form>
      <div id="map"></div>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <h3>AutoLead</h3>
        </div>
        <div class="button-container">
          <div class="glass-btn instagram-btn">
            <img
              src="https://i.postimg.cc/8cnXxw1f/instagram.png"
              alt="instagram"
            />
          </div>
          <div class="glass-btn twitter-btn">
            <img
              src="https://i.postimg.cc/7Y6pXJxT/twitter.png"
              alt="twitter"
            />
          </div>
          <div class="glass-btn github-btn">
            <img src="https://i.postimg.cc/bJZt3RFB/github.png" alt="github" />
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 WebGenie. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
